<div class="row">
  <div class="col-lg-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <!--<img src="<%=@pagina_inicio.imagen2.url%>" alt="...">-->
          <img src="/assets/imagen.jpg" alt="...">

        </div>
        <div class="item">
          <img src="/assets/imagen.jpg" alt="...">

        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    </div>
  </div>
</div>
<h1><%=@pagina_inicio.titulo%></h1>

<div class="row">
      <div class="col-md-12 sidebar">
    		<p align="justify" style="margin-top:7px;">
    	 		<%= @pagina_inicio.texto1%>
    	 	</p>
      </div>
</div>
