<div class="row" style="padding:10px; background-color:white;">
	<% @noticias.each do |noticia| %>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel"><%= noticia.titulo %></h4>
	      </div>
	      <div class="modal-body">

					<div class="col-lg-4">
							<img class="img-responsive" src="/assets/noticia.jpg">
					</div>
					<div class="col-lg-6">
							<%= noticia.contenido %>
					</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>


		<div class="col-md-3" style="padding:0; padding-left:8px;">
			<center>
				<img class="img-responsive" src="/assets/noticia.jpg">
			</center>
			<div style="background:grey; position:relative; margin-top:-180px;opacity: 0.5;">
				<h3 style="text-align:left; visibility:hidden;">Titulo</h3>
				<p style="text-align:justify;visibility:hidden;">
					<br><br><br><br><br><br>
				</p>
			</div>
			<div style="position:relative; margin-top:-160px; color:black;">
				<h3 style="text-align:left;"><a href="#" data-target="#myModal" data-toggle="modal" style="color:black;">mono</a></h3>
				<p style="text-align:justify;">
					<%= truncate noticia.contenido, length: 60 %>
				</p>
			</div>
			<br><br><br><br>
		</div>

	<% end %>
</div>
<div class="row">
	<div class="col-md-4">

	</div>
	<div class="col-md-4">
		<center>
				<%= will_paginate @noticias, renderer: BootstrapPagination::Rails, previous_label: "<", next_label: ">" %>
		</center>

	</div>
</div>
