<div class="row">
	<div class="col-md-3" style="padding:0;">
		<img class="img-responsive" src="<%=@inicio.imagen1.url%>">
	</div>
	<div class="col-md-3" style="padding:0;">
		<img class="img-responsive" src="<%=@inicio.imagen1.url%>">
	</div>
	<div class="col-md-3" style="padding:0;">
		<img class="img-responsive" src="<%=@inicio.imagen1.url%>">
	</div>
	<div class="col-md-3" style="padding:0;">
		<img class="img-responsive" src="<%=@inicio.imagen1.url%>">
	</div>
</div>