<h2>Log in</h2>

<%= bootstrap_form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, label: "Correo Electrónico" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", label: "Contraseña" %>
  </div>

  <div class="actions">
    <%= f.submit "Iniciar sesión", :class => 'btn btn-success' %>
  </div>
<% end %>
